<button ng-show='isAuth' ng-click='logout()' class="btn btn-primary logout-btn">Logout</button>
<div class="container">
  <h1 class="listing-header">View Listings/Posts</h1>
  <div class="listing-tile" ng-repeat="listing in listings | orderBy: 'name'" ng-class="{'listing-tile--alt': $last}" class='listing-tile'>
    <h4>
      <a ng-href="#/profile/{{listing.email}}" >
       {{listing.name}}
      </a>
      <span class="pull-right listing-subheader">Email: {{listing.email}}</span>
    </h4>
    {{listing.message}}
  </div>    
</div>