<div>
  You're in the create page
  <FORM ng-submit="addProfile(name, email, image, location, about)">
    <div class="form-group">
      <label for="name">Full name</label>
      <input class="form-control" id="name" required type="text" ng-model="name"/>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" id="email" required type="email" ng-model="email"/>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input class="form-control" id="location" required type="location" ng-model="location"/>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input class="form-control" id="location" ng-model='location' placeholder="Enter your address" type="text" googleplace/>
    <label for="picFile">Image</label>
      <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
      <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
      <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </div>
    <div class="form-group">
      <label for="about">About</label>
      <textarea class="form-control" id="about" ng-model="about"></textarea>
    </div>
    <button type="submit">Submit</button>
  </FORM>
</div>