<div class="container">
  <FORM name='myForm' ng-submit="uploadPic(picFile, name, email, location, about)" class="create-form">
  <legend class="create-header">Create a Profile</legend>
  <p>
    <span class="required">*</span>
    All Fields Required
  </p>    
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="name">Full name</label>
        <input class="form-control" id="name" required type="text" ng-model="name"/>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" required type="email" ng-model="email"/>
      </div>
      <div class="form-group">
      <label for="location">Location</label>
        <input class="form-control" id="location" ng-model='location' placeholder="Enter your address" type="text" googleplace/>
      </div>
      <div class="form-group">
        <label for="picFile">Image</label>
        <input type="file" ngf-select ng-model="picFile" accept="image/*" ngf-max-size="5MB" required ngf-model-invalid="errorFile" ngf-resize="{width: 250, height: 250}">
        <p ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 5MB</p>
        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
        <button ng-click="picFile = null" ng-show="picFile">Remove</button>
        <span class="progress" ng-show="picFile.progress >= 0">
          <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
        </span>
        <span ng-show="picFile.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      </div>    
    <div class="col-sm-6">
      <div class="form-group">
        <label for="about">About</label>
        <textarea class="form-control" id="about" ng-model="about" rows='9'></textarea>
      </div>
      <div class="clearfix">
        <button type="submit" class="btn btn-primary">Submit</button>          
      </div>
    </div>
  </div>
  </FORM>
</div>