<button ng-show='isAuth' ng-click='logout()' class="btn btn-primary logout-btn">Logout</button>
<div class="container view-wrap">
  <h1>User Directory</h1>
  <div ng-repeat="profile in profiles.data | orderBy: 'name'" ng-class="{'directory-tile--alt': $last}" class="directory-tile clearfix">
    <div class="directory-img">
      <img ng-src="assets/img/profile/{{profile.image}}" alt='{{profile.name}} profile'>
    </div>
    <div class='directory-body'>
      <h4>
        <a ng-href="#/profile/{{profile.email}}">
           {{profile.name}}
        </a>
      </h4>
      <h5>{{profile.location.location}}</h5>   
    </div>
  </div>
</div>